.container_pokemon_detail {
	width: auto;
    display: flex;
    border-radius: 20px;
    padding: 10px 20px;
}
 .image_block {
	 position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 130%;
	 height: 580px;
	 /* border-radius: 10px; */
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	 transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	 overflow: hidden;
     background-color: yellow;
}
 .image_block:hover {
	 box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

 .image_block h1 {
	 position: absolute;
	 top: 50px;
	 left: 20px;
	 margin: 0;
	 padding: 0;
	 color: white;
	 font-size: 60px;
	 font-weight: 100;
	 line-height: 1;
}
.image_block img {
	 height: 60%;
	 transition: 0.25s;
}
.info_detail {
	 width: 100%;
	 height: auto;
	 margin: 0;
	 padding: 30px;
	 background-color: #15172b;
	 box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	 color: white;
	 line-height: 1;
	 transition: 0.25s;
}

.back_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 0;
    background-color: transparent;
    font-size: 50px;
    color: white;
}

.back_btn span {
    width: 60px;
    height: 60px;
    text-align: center;
}

.back_btn span:hover{
    border-radius: 50%;
    background-color: white;
    color: #15172b;
    cursor: pointer;
}


.container_types {
    display: flex;
    align-items: center;
}

.not_found {
	justify-content: center;
}

.button_detail {
	border-radius: 10px;
	color: #fff;
	height: 30px;
	border: none;
	cursor: pointer;
	padding: 0 10px;
	margin-right: 10px;
}

.edit {
	background-color: #1cb8a3;
}

.delete {
	background-color: #ff0000;
}